p{
background-color: red;
}

.parrafo{
    background-color: blue;

}

.titulos{
    color: rgb(255, 0, 179);
    font-style: oblique;
    float: left;
}

.imagenes{
    border: darkblue solid;
    border-radius: 10%;
    cursor:crosshair;
}

.setdivision{
border: purple solid 1px;
margin: 2px;
padding-left: 10px;
}

.contenedroDiv{
    border: 1px red solid;
    display:grid;
    grid-template-columns: 30% 30% 30%;   
}

.contenedorFlex{
    border: red 1px solid;
    display:flex;
    flex-direction: row-reverse;
}

.contenedorFlex2{
    margin: 20px;
    border: red 1px solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

.divflex{
    border: 1px green solid;   
}




