@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400;700&display=swap');

*{
  font-family: 'Be Vietnam Pro', sans-serif; 
}
body{
  margin: 0px;
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

input{
  border:0px white;
  outline: none;
  width: auto;
}

li{
  list-style: none;
}

.Header{
  opacity: 1;
  background-color: #401081;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
  align-content:center;
  font-weight:700;
}

.Header > li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Modulos:hover{
text-decoration-line: underline;
}

#logo{
  font-size: 40px;
}

.botonSalir{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  padding: 5px;
  background-color: #401081;
  height: 40px; 
  width: 82px;
  cursor: pointer;
  align-content: center;
  margin-top:7px;
}

h1{
  font-size: 25px;
  color: #401081;
  letter-spacing: -0.2px;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 0px;
}

.nombreFiltros{
  font-size: 15px;
  color: #401081;
  cursor: auto;
  padding: 5px;
  margin-right: 7px;
  margin-left: 4px;
}

#textocorto{
  font-size: 13px;
  color: #401081;
  margin-left: 5%;
  margin-top: 0.5%;
  display: flex;
  cursor:auto;
}

 .buscar{
  width: 200px;
  border: 1px solid #969696;
  border-radius: 7px;
  outline: none;
  padding: 5px;
} 

.fitros{
  display: flex;
  align-content: center;
  margin-left: 5%;
  margin-top: 3%;
}

svg:hover{
  cursor: pointer;
}

.buscar:focus-within{
  border:1px solid #F99225;
}

.tablaVentas{
  width: 1200px;
  margin: 40px auto 0;
  cursor: auto;
}

.tablaVentas ul li .campos{
  display: flex;
  align-items: center;
  padding: 0px 0; 
  height: 40px;
  font-weight: 400;
  font-size: 15px;
  background: #3f108105;

}

.tablaVentas ul li .campos .idVenta, .idCliente, .idVendedor{
  width: 7%;
  padding: 0 5px;
}

.tablaVentas ul li .campos .fechaVenta, .fechaPago, .estadoVenta, .valorTotal{
  width: 10%;
  padding: 0 5px;
}

.tablaVentas ul li .campos .cliente{
  width: 20%;
  padding: 0 5px;
}

.tablaVentas ul li .campos .cliente span{
  width: 120%;
  padding: 0 5px;
  /* display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
} 

.tablaVentas ul li .editar{
margin-left: 7%;
}

.tablaVentasCampos ul li .campos{
  border-bottom: 1px solid #401081;
} 

.tablaVentasCampos{
  height: 100px;
  overflow: auto;
}

.tablaVentasRegistros ul li .campos{
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
} 

.tablaVentasRegistros ul li .campos .estadoVenta span{
  padding: 5px 10px;
  border-radius: 20px;
  max-width: 115px;
  display: inline-block;
}

.tablaVentasRegistros ul li .campos .entregada{
  background:rgba(24, 211, 24, 0.171);
  color: green;
}

.tablaVentasRegistros ul li .campos .enproceso{
  background:rgba(240, 236, 37, 0.555);
  color:orange;
}

.tablaVentasRegistros ul li .campos .cancelada{
  background:rgba(207, 76, 76, 0.13);
  color:red;
}

.infoVenta{
  margin-left: 5%;
  margin-top: 2%;
  display: grid;
}


.infoCliente{
  margin-left: 5%;
  margin-top: 2%;
}

.infoVenta_campos{ 
  padding: 5px;
}

.infoVenta_campos > i { 
  margin-left: 9px;
}

.infoVenta_campos > strong { 
  margin-left: 9px;
}

.idCliente_campos{
  padding: 5px;
}

.idCliente_campos > i { 
  margin-left: 10px;
}




.footer {
  color: #491391;
  font-size: 12px;
  font-family:'Be Vietnam Pro', sans-serif;
  position:fixed;
  left:0px;
  bottom:0px;
  opacity: 1;
  background-color: #ffffff;
  padding: 24px;
}

.botonSalir:hover {
  color: #401081;
  background-color: #ffffff;
}

.editButton {
  background-color: #401081;
  font-weight: 600;
  font-size: 4px;
  color: white;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  height: 32px;
  width: 60px;
  text-align: center;
  border: none;
}
.editButton:hover {
  background-color: #424242;   
} 

.Guardar{
  margin-left: 5%;
  margin-top: 2%;
  background-color: #401081;
  font-weight: 300;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  width: 80px;
  text-align: center;
  border: none;
}

