/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');*/

 /*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Josefin Sans', sans-serif; 
}*/

body{
  background: white;
  margin: 0px;
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  /* position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex; */
}

.section1{
  margin-left: 10%;
  margin-top: 1%;
}

.estadoVentali{
  /* width: 100px;
  margin-right: 25px;
  position: relative; */
  display: flex;
  justify-content: space-evenly; 
  margin-top: 10%;
}

.divheader{
  background-color: #491391;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family:Be Vietnam Pro;
  gap: 1rem;
  cursor: pointer;
}

.h1logo{
  margin-left: 4rem;
  margin-bottom: 3%;
}

.h4logo{
  font-weight: normal;
  margin-bottom: 0px;
}
