@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@800;900&display=swap');

body{
  margin: 0px;
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.Header{
  opacity: 1;
  background-color: #401081;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
  align-content:center;
  font-family: 'Be Vietnam Pro', sans-serif; 
}
.Header > li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

li:hover{
text-decoration-line: underline;
}

span{
  font-size: 40px;
  opacity: 1;
}

.botonSalir{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 5px;
  background-color: #401081;
  height: 40px; 
  width: 82px;
  cursor: pointer;
  align-content: center;
  margin-top:7px;
}

.section1{
  margin-left: 10%;
  margin-top: 1%;
}

.estadoVentali{
  /* width: 100px;
  margin-right: 25px;
  position: relative; */
  display: flex;
  justify-content: space-evenly; 
  margin-top: 10%;
}